.DraftEditor-root {  //these are all overriding and putting in what we want of the base ones
    border: 1px solid #f1f1f1; 
    padding: 20px;
    border-radius: 3px;
}

.rdw-image-modal {
    left: -215px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-embedded-modal {
    left: -124px;
}